@model ImpressDev.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Zarejestruj";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            @using (@Html.BeginForm("Register", "Account"))
            {
                @Html.AntiForgeryToken() //checking if the request comes from our site

                <div id="login-error">
                    @Html.ValidationMessage("loginerror", "")
                </div>

                <table id="login-table" class="o-login-table">
                    <tr>
                        <td>@Html.LabelFor(o => o.Email)</td>
                        <td>
                            @Html.TextBoxFor(o => o.Email)
                            <div class="login-validation-message o-login-validation-msg">
                                @Html.ValidationMessageFor(o => o.Email)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(o => o.Password)</td>
                        <td>
                            @Html.PasswordFor(o => o.Password)
                            <div class="login-validation-message o-login-validation-msg">
                                @Html.ValidationMessageFor(o => o.Password)
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(o => o.ConfirmPassword)</td>
                        <td>
                            @Html.PasswordFor(o => o.ConfirmPassword)
                            <div class="login-validation-message o-login-validation-msg">
                                @Html.ValidationMessageFor(o => o.ConfirmPassword)
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="o-login-btn-div">
                                <input type="submit" value="Zarejestruj" class="o-login-btn" />
                            </div>
                        </td>
                    </tr>
                </table>
            }

            <div style="text-align: center;">
                <div class="o-login-register-btn">
                    Masz już konto? <a href="@Url.Action("Login")">Zaloguj się!</a>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

