@model ImpressDev.ViewModels.ManageCredentialsViewModel
@{
    ViewBag.Title = "Moje konto";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="d-flex justify-content-around">
                <div class="o-manage-bar-btn-div">
                    <a class="o-manage-bar-btn" href="@Url.Action("Index", "Manage")">Edycja danych</a>
                </div>
                <div class="o-manage-bar-btn-div">
                    <a class="o-manage-bar-btn" href="@Url.Action("OrdersList", "Manage")">Lista zamówień</a>
                </div>
                @*<div class="o-manage-bar-btn-div">
                    <a class="o-manage-bar-btn" href="#">Dodaj kurs</a>
                </div>*@
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 o-manage-heading">
            Edycja danych
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            @using (@Html.BeginForm("ChangeProfile", "Manage"))
            {
                @Html.AntiForgeryToken()

                <table id="userdata-address-table" class="o-form-table">
                    <tr>
                        <td>@Html.LabelFor(o => o.UserData.Name, "Imię:")</td>
                        <td>
                            @Html.TextBoxFor(o => o.UserData.Name)
                            <div class="login-validation-message o-form-validation-msg">
                                @Html.ValidationMessageFor(o => o.UserData.Name)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(o => o.UserData.Surname, "Nazwisko:")</td>
                        <td>
                            @Html.TextBoxFor(o => o.UserData.Surname)
                            <div class="login-validation-message o-form-validation-msg">
                                @Html.ValidationMessageFor(o => o.UserData.Surname)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(o => o.UserData.Street, "Ulica:")</td>
                        <td>
                            @Html.TextBoxFor(o => o.UserData.Street)
                            <div class="login-validation-message o-form-validation-msg">
                                @Html.ValidationMessageFor(o => o.UserData.Street)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(o => o.UserData.City, "Miasto:")</td>
                        <td>
                            @Html.TextBoxFor(o => o.UserData.City)
                            <div class="login-validation-message o-form-validation-msg">
                                @Html.ValidationMessageFor(o => o.UserData.City)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(o => o.UserData.PostalCode, "Kod pocztowy:")</td>
                        <td>
                            @Html.TextBoxFor(o => o.UserData.PostalCode)
                            <div class="login-validation-message o-form-validation-msg">
                                @Html.ValidationMessageFor(o => o.UserData.PostalCode)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(o => o.UserData.Phone, "Numer telefonu:")</td>
                        <td>
                            @Html.TextBoxFor(o => o.UserData.Phone)
                            <div class="login-validation-message o-form-validation-msg">
                                @Html.ValidationMessageFor(o => o.UserData.Phone)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(o => o.UserData.Email, "Adres email:")</td>
                        <td>
                            @Html.TextBoxFor(o => o.UserData.Email)
                            <div class="login-validation-message o-form-validation-msg">
                                @Html.ValidationMessageFor(o => o.UserData.Email)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="checkbox">
                            </div>
                            <div class="o-form-btn-div">
                                <input type="submit" value="Potwierdź" class="submitLink o-form-btn" />
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 o-manage-heading">
            Zmień hasło
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="manage-error o-pass-validation-msg">
                    @Html.ValidationMessage("password-error", "")
                </div>

                if (Model.Message.HasValue)
                {
                    <div class="manage-message">
                        @switch (Model.Message)
                        {
                            case ImpressDev.Controllers.ManageController.ManageMessageId.ChangePasswordSuccess:
                                @: Hasło zmienione pomyślnie!
                                break;
                            case ImpressDev.Controllers.ManageController.ManageMessageId.Error:
                                @: Wystąpił błąd
                                break;
                        }
                    </div>
                }

                <table id="password-table" class="o-form-table o-pass-validation-msg-2">
                    <tr>
                        <td>@Html.LabelFor(o => o.ChangePasswordViewModel.OldPassword, "Stare hasło:")</td>
                        <td>
                            @Html.PasswordFor(o => o.ChangePasswordViewModel.OldPassword)
                            <div class="login-validation-message o-form-validation-msg">
                                @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.OldPassword)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(o => o.ChangePasswordViewModel.NewPassword, "Nowe hasło:")</td>
                        <td>
                            @Html.PasswordFor(o => o.ChangePasswordViewModel.NewPassword)
                            <div class="login-validation-message o-form-validation-msg">
                                @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.NewPassword)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(o => o.ChangePasswordViewModel.ConfirmPassword, "Potwierdź hasło:")</td>
                        <td>
                            @Html.PasswordFor(o => o.ChangePasswordViewModel.ConfirmPassword)
                            <div class="login-validation-message">
                                @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.ConfirmPassword)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="checkbox">
                            </div>
                            <div class="o-form-btn-div">
                                <input type="submit" value="Zmień" class="submitLink o-form-btn" />
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}


