@model IEnumerable<ImpressDev.Models.Order>
@{
    ViewBag.Title = "Moje konto";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="container">
    <div class="row">
        @Html.Partial("_PartialManageBar")
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 o-manage-heading">
            Lista zamówień
        </div>
    </div>
</div>
<div class="container">
    @if (Model.Any())
    {
        foreach (var order in Model)
        {
            <div class="row o-order-group text-center">
                <div class="col-12 col-lg-2 align-self-center">
                    <span class="o-order-text-bold">Nr. zamówienia:</span> <br class="o-order-br">
                    <span class="o-order-text-light">@order.OrderId</span> <br>
                    <span class="o-order-text-bold">Data:</span> <br class="o-order-br">
                    <span class="o-order-text-light">@order.DateAdded.ToString("dd-MM-yyyy")</span>

                </div>
                <div class="col-12 col-lg-2 align-self-center">
                    <span class="o-order-text-bold">Status:</span> <br class="o-order-br">
                    @if (ViewBag.UserIsAdmin)
                    {
                        using (Html.BeginForm("ChangeOrderStatus", "Manage"))
                        {
                            @Html.HiddenFor(o => order.OrderId)
                            @Html.EnumDropDownListFor(o => order.OrderStatus, new { @class = "ChangeStatus" })
                        }
                    }
                    else
                    {
                        <span class="o-order-text-light">@order.OrderStatus</span>
                    }


                </div>
                <div class="col-12 col-lg-2 align-self-center">
                    <span class="o-order-text-bold">Dane wysyłkowe:</span> <br>
                    <span class="o-order-text-light">@order.Name @order.Surname</span> <br>
                    <span class="o-order-text-light">@order.Street</span> <br>
                    <span class="o-order-text-light">@order.PostalCode @order.City</span>
                </div>
                <div class="col-12 col-lg-2 align-self-center">
                    <span class="o-order-text-bold">Kontakt:</span> <br>
                    <span class="o-order-text-light">@order.PhoneNumber</span> <br>
                    <span class="o-order-text-light">@order.Email</span>
                </div>
                <div class="col-12 col-lg-2 align-self-center">
                    <span class="o-order-text-bold">Uwagi:</span> <br>
                    <span class="o-order-text-light">
                        @if (order.Comment == null)
                        {<span>brak</span> }
                        else
                        { @order.Comment}
                    </span>
                </div>
                <div class="col-12 col-lg-2 align-self-center">
                    <span class="o-order-text-bold">Łączny koszt:</span> <br class="o-order-br">
                    <span class="o-order-text-light">@order.Price zł.</span>
                </div>

                <div class="col-12 o-order-item-div">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <span class="o-order-text-bold">Elementy zamówienia:</span>
                            </div>
                        </div>
                        @foreach (var orderItem in order.OrderItems)
                        {
                            <div class="row o-order-item">
                                <div class="col-12 col-lg-6 align-self-center">
                                    <span class="o-order-text-bold"><a class="o-order-book-link" href="@Url.Action("Details", "Catalog", new { bookId = orderItem.Book.BookId })">@orderItem.Book.Title - @orderItem.Book.SubTitle - @orderItem.Book.Level</a> </span>
                                </div>
                                <div class="col-12 col-lg-2 align-self-center">
                                    <span class="o-order-text-bold">Cena:</span> <br class="o-order-br">
                                    <span class="o-order-text-light">@orderItem.Book.Price zł.</span>
                                </div>
                                <div class="col-12 col-lg-2 align-self-center">
                                    <span class="o-order-text-bold">Liczba:</span> <br class="o-order-br">
                                    <span class="o-order-text-light">@orderItem.Quantity szt.</span>
                                </div>
                                <div class="col-12 col-lg-2 align-self-center">
                                    <span class="o-order-text-bold">Razem:</span> <br class="o-order-br">
                                    <span class="o-order-text-light">@(orderItem.Book.Price * orderItem.Quantity) zł.</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-12 o-order-empty">
                Brak zamówień
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script src="~/Scripts/jquery-3.5.1.js"></script>

    <script>
    $(".ChangeStatus").on('change', function (e) {
        //e.preventDefault();
        var f = $(this.form);
        var div = f.closest("div");
        var action = f.attr("action");
        var serializedForm = f.serialize();
        $.post(action, serializedForm).done(function (data) {
            if (data == '@ImpressDev.Models.OrderStatus.Nowe.ToString()') {
                div.addClass("o-newStatus")
            }
            else {
                div.removeClass("o-newStatus");
            }
          });
    });
    </script>
}